<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('styles/destinations.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/navbar.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="{{ asset('images/logo.jpg') }}" alt="Logo oiseau" class="logo">
            <span class="site-title">voyagez.com</span>
        </div>
        <div class="nav-right">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('europe') }}">Europe</a>
            <a href="{{ path('amerique') }}">Amérique</a>
            <a href="{{ path('asie') }}">Asie</a>
            <a>Australie</a>
            <a href="{{ path('contact') }}">Contact</a>
            <a></a>
        </div>
    </nav>

    {% block body %}{% endblock %}

    {% block footer %}
    <footer class="footer">
        <div>
            <p>Formation Développeur Web et Web Mobile - AFPA 2025 - Image, illustration PIXABAY</p>
        </div>
        <div class="blocsite">
            <a class="textesite" href="https://rossignol86.github.io/FranckRossignol/" target="_blank">Franck Rossignol - Consulter mon site</a>
        </div>
    </footer>
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
